<h2>Add A Class</h2>
<form id="regForm" method="post" action="/instructors/classes/new">
	<div>
		<label>Title: </label>
		<input type="text" name="title">
	</div>
	<div>
		<label>Description: </label>
		<input type="text" name="description">
	</div>
	<div>
		<label>Instructor: </label>
		<input type="text" name="instructor">
	</div>
	<div>
		<input type="submit" value="Submit">
	</div>
</form>